.sidebar {
  background-color: #fff;
  height: 100vh;
  padding-top: 2rem;
}

.sidebar .nav-link {
  color: #343a40;
  font-weight: 600;
}

.sidebar .nav-link.active {
  background-color: #007bff;
  color: #fff;
}
